extends ../layouts/default
include ../mixins/user-profile-block

block content
    .container: .jumbotron
        a(href='/')
            img(src='/images/logo.svg', width='120')

        h1 Rhythm Profiles

        if skillBaseNames.length
            #users-accordion
                each skillBaseName, i in skillBaseNames
                    h3= skillBaseName

                    .row.user-profile-blocks
                        each user in skillsWithUsers[skillBaseName]
                            .col-md-4.col-sm-6.col-xs-12
                                +user-profile-block(user)

            script.
              jQuery(function() {
                  jQuery("#users-accordion").accordion({ heightStyle: "content" });
              });