extends ../layouts/default
include ../mixins/header-image
include ../mixins/user-profile-block

block content
    .container: .jumbotron
        +header-image()

        if skillBaseNames.length
            #users-accordion
                each skillBaseName, i in skillBaseNames
                    h3= skillBaseName

                    .row.user-profile-blocks
                        each user in skillsWithUsers[skillBaseName]
                            .col-md-4.col-sm-6.col-xs-12
                                +user-profile-block(user)

            script.
              jQuery(function() {
                  jQuery("#users-accordion").accordion({ heightStyle: "content", collapsible: true, active: false });
              });