extends ../layouts/default
include ../mixins/user-profile-block

block content
    .container: .jumbotron
        img(src='/images/logo.svg', width='160')
        h1 Rhythm Profiles

        .row
            .col-sm-6
                h3 Skills
                if skillBaseNames.length
                    ul
                        each skillBaseName, i in skillBaseNames
                            li= skillBaseName
            .col-sm-6
                h3 Profiles
                if users.length
                    each user, i in users
                        +user-profile-block(user)