extends ../layouts/default
include ../mixins/user-profile-block

block content
    .container: .jumbotron
        img(src='/images/logo.svg', width='160')
        h1 Rhythm Profiles

        if skillBaseNames.length
            h3 Skills

            #users-accordion
                each skillBaseName, i in skillBaseNames
                    h3= skillBaseName

                    .user-profile-blocks
                        each user in skillsWithUsers[skillBaseName]
                            +user-profile-block(user)

            script.
              jQuery(function() {
                  jQuery("#users-accordion").accordion({ heightStyle: "content" });
              });