extends ../layouts/default
include ../mixins/user-profile-block

block content
    .container: .jumbotron
        img(src='/images/logo.svg', width='160')
        h1 Rhythm Profiles

        h3 Skills

        if skillBaseNames.length
            each skillBaseName, i in skillBaseNames
                h4= skillBaseName

                each user in skillsWithUsers[skillBaseName]
                    +user-profile-block(user)