extends ../layouts/default
include ../mixins/header-image

block content
    .container: .jumbotron
        +header-image()

        h3 Skill Levels

        div
            |A developer is assigned a skill level from&nbsp;
            strong.skill-level-1 1
            |&nbsp;to&nbsp;
            strong.skill-level-10 10
            |&nbsp;for each of their skills such as '
            strong.skill-level-1 C++
            |'&nbsp;or&nbsp;'
            strong.skill-level-10 Node.js
            |'

        br

        div Skill levels are color coded as follows:
        ol
            li.skill-level-1 Green
                div.skill-level-description You have worked on a project using this technology but are just learning it.
            li.skill-level-2 Light Blue
                div.skill-level-description You have worked on a few projects using this technology and are getting more familiar with it.
            li.skill-level-3 Blue
                div.skill-level-description You have worked on 3+ projects using this technology and are comfortable with it.
            li.skill-level-4 Purple
                div.skill-level-description You have worked on 5+ projects using this technology and are confident using its best practices.
            li.skill-level-5 Violet
                div.skill-level-description A little help from Stack Overflow and you can accomplish anything using this technology.
            li.skill-level-6 Magenta
                div.skill-level-description You really have this technology down with room to learn more.
            li.skill-level-7 Fuchsia
                div.skill-level-description You have worked on many projects using this technology and could teach someone else.
            li.skill-level-8 Red
                div.skill-level-description You are very comfortable teaching others about this technology.
            li.skill-level-9 Bronze
                div.skill-level-description You are an expert resource to others. You are qualified to lead a TED talk about it.
            li.skill-level-10 Gold
                div.skill-level-description The technology is second nature to you. You probably contribute source to the project.

        h3 Experience Points

        div Points are awarded for skills and accomplishments.

        br

        div Higher level skills are more valuable than lower level skills. Points are calculated by taking the square root of the sum of the cubes of each skill level.

        br

        div The points color represents the average skill level. The average skill level is simply the sum of the skill levels divided by the number of skills.