extends ../layouts/default
include ../mixins/user-profile-block

block content
    .container: .jumbotron
        img(src='/images/logo.svg', width='60')
        h2 Rhythm Profiles
        if users.length
            .row
                each user, i in users
                    .col-md-4.col-sm-6.col-xs-12
                        +user-profile-block(user)

        else
            .jumbotron.text-center
                .lead.text-muted There are no users.