extends ../layouts/default
include ../mixins/header-image
include ../mixins/user-profile-block

block title
    title Users

block content
    .container: .jumbotron
        +header-image()

        if users.length
            .row
                each user, i in users
                    .col-md-4.col-sm-6.col-xs-12
                        +user-profile-block(user, user.experience, user.averageSkillLevel)

        else
            .jumbotron.text-center
                .lead.text-muted There are no users.