extends ../layouts/default
include ../mixins/header-image
include ../mixins/user-profile-block

block title
    title User
block content
    .container: .jumbotron
        +header-image()

        .user-profile-full
            if users.length
                .row
                    each user, i in users
                        .col-sm-6.col-xs-12
                            +user-profile-block(user, true, true)
            else
                .jumbotron.text-center
                    .lead.text-muted There are no users.