#header {
	margin-top: 30px;
}

#footer {
	color: @gray-light;
}

.ui-accordion-header {
    cursor: pointer;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.user-image img{
    .border-top-radius(20px);
    .border-right-radius(20px);
    .border-bottom-radius(20px);
    .border-left-radius(20px);
}

.user-points{
    font-size: 350%;
    height:100px;
    line-height: 100px;
}

.user-profile {
    @media (min-width: @screen-sm-min){
        height: 320px;
        overflow: hidden;
    }

    margin: 10px;
    margin-right: 0px;
    margin-bottom: 30px;
    background: @gray-dark;
    color: white;

    .border-top-radius(20px);
    .border-right-radius(20px);
    .border-bottom-radius(20px);
    .border-left-radius(20px);
}

.user-profile-title {
    white-space: nowrap;
}

.user-profile-bio {
    font-weight: normal;
    color: @gray-light;
}

.user-profile-social-links {
    a {
        margin: 4px;
    }
}

.skill-list {
    @media (min-width: @screen-sm-min){
        height: 120px;
        overflow: scroll;
    }
    padding-bottom:20px;
}

.user-profile-full {
    .user-profile {
        @media (min-width: @screen-sm-min) {
            height: inherit;
            overflow: inherit;
        }
    }

    .skill-list {
        @media (min-width: @screen-sm-min){
            height: inherit;
            overflow: inherit;
        }
    }
}

.skill-level-1 {
    color: #009d54;
}

.skill-level-2 {
    color: #55ccf4;
}

.skill-level-3 {
    color: #4377f9;
}

.skill-level-4 {
    color: #6f45e8;
}

.skill-level-5 {
    color: #af23e3;
}

.skill-level-6 {
    color: #e72edc;
}

.skill-level-7 {
    color: #eb1674;
}

.skill-level-8 {
    color: #eb2f2e;
}

.skill-level-9 {
    color: #fda52d;
}

.skill-level-10 {
    color: @brand-primary;
}